<div class="res1" >
    <h1 class="" >
        Research Work
    </h1>

    <h2 class="resume-title">Automatic Attendance Monitoring System (AAMS), Research Presenter</h2>
	<ul class="pu1">
		<li> Presented Research Paper at the National Conference on 2nd Innovative Product Design and Intelligent Manufacturing System
			(IPDIMS) during 12th and 13th February Organized by NIT, Rourkela.
			</li>
			<li>
				Research paper published in Springer Journal 2020 Edition
			</li>
			<li>
				Design and developed the AAMS using Harr Cascade and OpenCV technlologies
			</li>
			<li>
				Made an easy to use front end UI for training the new data and using the application to mark attendance in CSV file using the on
				board camera.
			</li>
	</ul>
	<a class="pu1" style="z-index: 5;" href="https://www.springerprofessional.de/en/automatic-attendance-monitoring-system-aams/20368604" target="_blank">Click here to read it</a>
	<br>
	<a class="pu1" href="https://smc-link.s4hana.ondemand.com/eu/data-buffer/sap/public/cuan/link/100/91F57F74040432947EA32B7D355A76BA173EC18F?_V_=2&_K11_=FF1D63DD687278211122FCD8DE8C67DCB513AE62&_L54AD1F204_=c2NlbmFyaW89TUxDUEcmdGVuYW50PW15MzA0NDI0LnM0aGFuYS5vbmRlbWFuZC5jb20mdGFyZ2V0PWh0dHBzOi8vdHJlYnVjaGV0LnB1YmxpYy5zcHJpbmdlcm5hdHVyZS5hcHAvZ2V0X2NvbnRlbnQvYmMxYTE0ODctNTQ4Zi00MDE2LTk4NjEtZjAwNTgzMTA5ODY4P3NhcC1vdXRib3VuZC1pZD05MUY1N0Y3NDA0MDQzMjk0N0VBMzJCN0QzNTVBNzZCQTE3M0VDMThG&_K13_=275&_K14_=7e26f0d50ef80a9a997978e56b3a177d6850139f636d2258c6eaa57eff9f391a" target="_blank">E-Book</a>

</div>
