<div class="container">
    <h1 class="neonText">
        Kumar Mayank Verma
    </h1>    

    <div class="list1">
        <ul class="sublist1">
            <li>
                <a href="#section1" class="md">About</a>
            </li>
            <li>
                <a href="#section2" class="md">Exprience</a>
            </li>
            <li>
                <a href="#section3" class="md">Research Work</a>
            </li>
            <li>
                <a href="#section4" class="md">Work</a>
            </li>
            <li>
                <a href="#section5" class="md">Contact</a>
            </li>
            <a href="https://twitter.com/kmv9063" class="link1" target="_blank"><img src="../../assets/twitter.svg" class="img1" alt="" srcset=""></a>
            <a href="http://www.github.com/rowm30" class="link1" target="_blank"><img src="../../assets/github.svg" class="img1" alt="" srcset=""></a>
            <a href="https://www.linkedin.com/in/mayank-ml/" class="link1" target="_blank"><img src="../../assets/linkedin.svg" class="img1" alt="" srcset=""></a>
            <img src="../../assets/moon.svg" class="img1" alt="" srcset="" (click)="buttonClick1()">
        </ul>
        
    </div>
</div>