<div class="exp1">
    <div class="readme">
        <h1 class="">
            Readme.
        </h1>

        <div class="space-y-3 mt-5">
            <b>
                <p>Happiest when I'm<span class="text-blue"> learning, building and contributing </span>to meaningful
                    projects. I love building high-quality products and bringing them to life through design and code. I am
                    highly motivated and thrive in fast-paced, collaborative environments where I can work with my team to
                    continuously ship, learn, and iterate.</p>
                <p>My strong communication and problem-solving skills allow me to contribute effectively to any project, and
                    I thrive on the opportunity to learn and grow alongside my team. When I'm not in front of a screen, you
                    can find me at the gym, tweeting, reading, traveling, or exploring nature.</p>
                <p><span class="text-blue">Let's build cool things!</span></p><br>
                <p>The main area of my expertise are front-end &amp; design tools like:</p>
                <div class="list3">
                    <p class="list">• Spring Boot</p>
                    <p class="list">• Angular</p>
                    <p class="list">• AWS</p>
                    <p class="list">• Java</p>
                    <p class="list">• MicroServices</p>
                    <p class="list">• Excel</p>
                </div>
            </b>
        </div>
    </div>
    <div class="img2">
        <img src="./../../assets/readme.svg" alt="" srcset="">
    </div>
</div>
<div class="exp2">
    <div class="readme">
        <h1 class="">
            Technical Expereince 
        </h1>

        <div class="space-y-3 mt-5">
            <ul class="mk4">
                <li>
                    <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up">
                        <h3 class="resume-title">Role: SDE 1<img src="./../../assets/mc.png" alt=""  style="width: 400px; " srcset=""></h3>
                        <div class="resume-item pb-0">
                            <h4>Project: Mastercard</h4>
                            <p><em>Company: Wipro </em></p>
                            <ul>
                                <li>
                                    Part of offshore Mastercard MPS Development team, initially responsible for all GUI-related tasks inside the team.
                                </li>
                                <li> Developed more than 72+ user stories, consisting of 23+ projects across 19+ iterations consisting of more than 31 features.</li>
                                <li>  Designed HLDs for a complex nested table in Win Forms for an entirely new feature which was introduced by the client at the
                                    last moment.
                                    </li>
                                <li> Deployed build on various release channels by using Jenkins Pipelines and Manual Build.
                                </li>
                                <li>Worked on server implementation tasks for DN Conversions and LifeCycle Structure Load in environments including PROD</li>
                                <li>Trained on more than 21+ security certificates for FinTech industry over the period of 6 months
                                </li>
                                <li> Working in Scrum Agile SDLC team with US based clients for solving various kinds of business requirements
                                </li>
                                <li>
                                    Before joining this project, Wipro gave a thorough training on Java and IT standards for optimum development.
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
<br>
                <li>
                    <h3 class="resume-title">Data Engineer <img src="./../../assets/Wipro-logo.png" alt="" srcset="" style="width: 200px;"></h3>
                    <div class="resume-item pb-0">
                        <h4>Project: Intelliproc</h4>
                        <p><em>Company: Wipro </em></p>
                        <ul>
                            <li> Trained on a new internal Tool(IntelliProc) for Data Ingestion, Data cleaning and
                                Data Processing for AWS Data Migration works</li>
                            <li> Managed various Azure and S3 filesystem migrations Jobs on Intelliproc UI</li>
                            <li> Worked on server implementation tasks for DotNet Conversions and LifeCycle
                                Structure Load in various enviroments inculding
                                PROD.
                            </li>
                            <li>Maintained and Developed on Mainframe Backend DB2 systems.</li>
                            <li> Trained on more than 20+ security certificates for FinTech industry over the period
                                of 6 months.
                            </li>
                            <li> Working in Scrum Agile SDLC team with US based clients for solving various kinds of
                                business requirements.
                            </li>
                        </ul>
                    </div>
                </li>
<br>
                <li>
                    <h3 class="resume-title">Role: Intern <img src="./../../assets/uk.png" alt="" srcset="" style="width: 100px;"></h3>
                    <div class="resume-item pb-0">
                        <h4>Project: E-Commerce Website</h4>
                        <p><em>Company: Urban Khet </em></p>
                        <ul>
                            <li> Made a entire Sign Up and Login System for customers on MEAN stack for there drop
                                shipping business.</li>
                            <li> Migrated there basic HTML CSS JS website to Angular SPA.</li>
                            <li> Increased traffic and retention of Customers from 10% to 60%.
                            </li>
                            <li>Maintained and Developed on Mainframe Backend DB2 systems.</li>
                            <li> Trained on more than 20+ security certificates for FinTech industry over the period
                                of 6 months.
                            </li>
                            <li> Working in Scrum Agile SDLC team with US based clients for solving various kinds of
                                business requirements.
                            </li>
                        </ul>
                    </div>
                </li>
            </ul> 
        </div>
    </div>
</div>