.exp1 {
    display: flex;
    flex-direction: row;
    margin-left: 3.5%;
}

h1 {
    color: #fff;
    font-size: 90px;
    font-weight: 900;
    line-height: 1.25;
    font-family: 'Poppins', sans-serif;
    margin-left: 10%;
    margin-top: 10%;
}

p {
    color: #fff;
    font-family: 'Poppins',sans-serif;
    width: 70%;
    margin-left: 10%;
    margin-top: 1.25rem;
    font-size: 20px;
}

.img2 {
    margin-right: 15%;
    margin-top: 15%;
    width: 350px;
}

.text-blue {
    color: #597dff;
    text-align: center;
}

.list3 {
    grid-template-columns: repeat(2,minmax(0,1fr));
    display: grid;
    gap: .75rem;
    margin-left: 80px;
}

.list {
    color: #597dff;
}

.exp2 {
    display: flex;
    flex-direction: row;
    margin-left: 3.5%;
}

.mk4 {
    color: #fff;
    font-family: 'Poppins',sans-serif;
    width: 70%;
    margin-left: 10%;
    margin-top: 1.25rem;
    font-size: 20px;
    z-index: 2;
    font-size: 140%;
}

// Modified media queries for responsiveness
@media (max-width: 1284px) {
    h1 {
        font-size: 50px; // Adjusted for readability
        margin-top: 3%;
        margin-left: 3%;
    }

    p, .mk4 {
        width: 95%; // More screen width utilization
        margin-left: 2.5%; // Center alignment
        font-size: 18px; // Readability adjustment
    }

    .img2 {
        margin-top: 8%;
        width: 280px; // Adjusted image size
    }

    .list3 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin-left: 15px;
    }
}

@media (max-width: 992px) {
    .exp1, .exp2 {
        display: block; // Stack elements vertically
    }

    h1 {
        font-size: 60px;
        margin-top: 5%;
        margin-left: 5%;
    }

    p, .mk4 {
        width: 90%;
        margin-left: 5%;
        font-size: 18px;
    }

    .img2 {
        margin-top: 10%;
        width: 300px;
    }

    .list3 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin-left: 40px;
    }

    .resume-title img {
        width: 150px; // Adjust image size
        height: auto; // Maintain aspect ratio
        display: block; // Ensure it's on its own line
        margin: 0 auto; // Center the image
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 40px;
        margin-top: 2%;
        margin-left: 2%;
    }

     .mk4 {
        width: 100%;
        margin-left: -15%;
        font-size: 16px;
        list-style: inside; // Bullet points inside to save space
    }
    

    .img2 {
        display: none; // Hide image on very small screens
    }

    .list3 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin-left: 20px;
    }
}
