<div class="project1">
    <h1 class="">
        Some Things I’ve Built.
    </h1>
    <p >
        I believe the best way to learn is by building, even if it means getting stuck and having to figure things out
        on my own. That's why I enjoy building things from scratch and using Google to troubleshoot any issues that come
        up.
    </p>
</div>

<br>
<br>
<br>
<br>

<div class="prj2">
    <div class="card">
        <img src="./../../assets/p2.jpg" alt="Avatar" class="prjimg1">
        <div class="container">
            <h4><b>Voting Mechanism with several other tools webapp for my own college student with Signup and login features.</b></h4>
            <p>Source Code</p>
            <p>Live Deployed</p>
        </div>
    </div>
    <div class="card">
        <img src="./../../assets/p32.png" alt="Avatar" class="prjimg1">
        <div class="container">
            <h4><b>Landing page for my family member for there budding business.</b></h4>
            <p>Source Code</p>
            <p>Live Deployed</p>
        </div>
    </div>
    <div class="card">
        <img src="./../../assets/p1.jpg" alt="Avatar" class="prjimg1">
        <div class="container">
            <br>
            <br>
            <br>
            <h4><b>Stock Predictor using Stacked LSTM Machine Learning Project</b></h4>
            <p>Source Code</p>
            <p>Live Deployed</p>
        </div>
    </div>
</div>

