<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="page-bg"></div>

<div class="animation-wrapper">
  <div class="particle particle-1"></div>
  <div class="particle particle-2"></div>
  <div class="particle particle-3"></div>
  <div class="particle particle-4"></div>
</div>

<app-navbar></app-navbar>
<div class="section1">
  <app-about></app-about>
  <app-navbar-mobile></app-navbar-mobile>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="" id="section2">
  <app-experience></app-experience>
</div>
<br>
<br>
<br>
<div class="" id="section3">
  <app-research></app-research>
</div>
<div class="" id="section4">
  <app-projects></app-projects>
</div>
<br>

<div id="section5">
  <app-contact></app-contact>
</div>
<div class="page-wrapper">
</div>